.chess-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #000000;
}

.chess-game h1 {
  margin: 0;
  padding: 20px;
  color: #ffffff;
}

.chess-game .board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b58863;
  padding: 10px;
  border-radius: 10px;
}

.chess-game .chessboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chess-game .chessboard-container .chessboard-board {
  width: 100% !important;
  height: auto !important;
}

.chess-game .player-info {
  font-size: 20px;
  color: #ffffff;
  margin: 5px 0;
}

.chess-game .status-message {
  font-size: 40px;
  margin: 10px 0;
  font-weight: bold;
}

.chess-game .status-message.ai-thinking {
  color: #ff00ff;
}

.chess-game .status-message.your-move {
  color: #33e3ec;
}

.chess-game .button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chess-game button,
.chess-game .engine-select {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 30px;
  margin: 10px 5px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chess-game button:hover,
.chess-game .engine-select:hover {
  background-color: #45a049;
}

.chess-game .engine-select {
  background-color: #00bfff;
}

.chess-game .engine-select:hover {
  background-color: #009acd;
}

.chess-game .reset-button {
  background-color: #e53935;
}

.chess-game .reset-button:hover {
  background-color: #c62828;
}

.chess-game .color-toggle-button {
  background-color: #d3d3d3;
  color: black;
}

.chess-game .color-toggle-button:hover {
  background-color: #b0b0b0;
}

.chess-game label {
  color: #ffffff;
  margin-left: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.chess-game input[type="number"] {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
}
